
@font-face {
    font-family: 'Onest';
    src: url('../fonts/OnestExtraBold.eot');
    src: url('../fonts/OnestExtraBold.eot') format('embedded-opentype'),
         url('../fonts/OnestExtraBold.woff2') format('woff2'),
         url('../fonts/OnestExtraBold.woff') format('woff'),
         url('../fonts/OnestExtraBold.ttf') format('truetype'),
         url('../fonts/OnestExtraBold.svg#OnestExtraBold') format('svg');
         font-weight: 800;
        font-style: normal;
        font-display: swap;
  }
  
  @font-face {
    font-family: 'Onest';
    src: url('../fonts/OnestBold.eot');
    src: url('../fonts/OnestBold.eot') format('embedded-opentype'),
         url('../fonts/OnestBold.woff2') format('woff2'),
         url('../fonts/OnestBold.woff') format('woff'),
         url('../fonts/OnestBold.ttf') format('truetype'),
         url('../fonts/OnestBold.svg#OnestBold') format('svg');
         font-weight: 700;
         font-style: normal;
         font-display: swap;
  }
  
  @font-face {
    font-family: 'Onest';
    src: url('../fonts/OnestSemiBold.eot');
    src: url('../fonts/OnestSemiBold.eot') format('embedded-opentype'),
         url('../fonts/OnestSemiBold.woff2') format('woff2'),
         url('../fonts/OnestSemiBold.woff') format('woff'),
         url('../fonts/OnestSemiBold.ttf') format('truetype'),
         url('../fonts/OnestSemiBold.svg#OnestSemiBold') format('svg');
         font-weight: 600;
         font-style: normal;
         font-display: swap;
  }
  
  @font-face {
    font-family: 'Onest';
    src: url('../fonts/OnestMedium.eot');
    src: url('../fonts/OnestMedium.eot') format('embedded-opentype'),
         url('../fonts/OnestMedium.woff2') format('woff2'),
         url('../fonts/OnestMedium.woff') format('woff'),
         url('../fonts/OnestMedium.ttf') format('truetype'),
         url('../fonts/OnestMedium.svg#OnestMedium') format('svg');
         font-weight: 500;
         font-style: normal;
         font-display: swap;
  }
  
  @font-face {
    font-family: 'Onest';
    src: url('../fonts/OnestRegular.eot');
    src: url('../fonts/OnestRegular.eot') format('embedded-opentype'),
         url('../fonts/OnestRegular.woff2') format('woff2'),
         url('../fonts/OnestRegular.woff') format('woff'),
         url('../fonts/OnestRegular.ttf') format('truetype'),
         url('../fonts/OnestRegular.svg#OnestRegular') format('svg');
         font-weight: 400;
         font-style: normal;
         font-display: swap;
  }
  
  @font-face {
    font-family: 'Onest';
    src: url('../fonts/OnestLight.eot');
    src: url('../fonts/OnestLight.eot') format('embedded-opentype'),
         url('../fonts/OnestLight.woff2') format('woff2'),
         url('../fonts/OnestLight.woff') format('woff'),
         url('../fonts/OnestLight.ttf') format('truetype'),
         url('../fonts/OnestLight.svg#OnestLight') format('svg');
         font-weight: 300;
         font-style: normal;
         font-display: swap;
  }
  
  @font-face {
    font-family: 'Onest';
    src: url('../fonts/OnestThin.eot');
    src: url('../fonts/OnestThin.eot') format('embedded-opentype'),
         url('../fonts/OnestThin.woff2') format('woff2'),
         url('../fonts/OnestThin.woff') format('woff'),
         url('../fonts/OnestThin.ttf') format('truetype'),
         url('../fonts/OnestThin.svg#OnestThin') format('svg');
         font-weight: 200;
         font-style: normal;
         font-display: swap;
  }